/* Styling for Crystals Game */

* {
    box-sizing: border-box;
}

body {
    background-color: blue;
}

.container {
    width: 980px;
    background-color: beige;
    margin-left: 258px;
    margin-right: 0px;
    border: 2px;
    border-style: solid;
}
/* styling added to page header */
.game-title {
    font-size: 40px;
    padding: 10px;
    text-align: center;
}
/* margins added to move paragaphs away from container edges */
#instructions {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
}
/* styling for boxes that display target value, player's running total, and wins & losses */
.box {
    float: left;
    width: 200px;
    height: 88px;
    font-size: 22px;
    padding: 10px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    border-style: solid;
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: beige;
}
/* styling for boxes displayed as crystals */
.crystals {
    
    width: 150px;
    height: 150px;
    padding: 5px;
    margin: 10px 10px 10px 65px;
    border: 2px;
    border-style: solid;
    text-align: center;
    float: left;
    background-color: aliceblue;
}
/* styling for left-most crystal box so that it clears the row of boxes above it and starts a new row */
#c-1 {
    clear: left;
    margin-left: 335px;
}
/* text-align and padding adjusted to situate text within box */
#wins-losses { 
    margin-right: 25px;
    padding-left: 40px;
    text-align: left;
}
/* margin added to align row on the screen */
#target-box {
    margin-left: 110px;
}