/* Styling for Crystals Game */

* {
    box-sizing: border-box;
}

body {
    background-color: blue;
}

.container {
    width: 980px;
    background-color: beige;
    margin-left: 258px;
    margin-right: 0px;
    border: 2px;
    border-style: solid;
}

.game-title {
    font-size: 40px;
    padding: 10px;
    text-align: center;
}

#instructions {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
}

.box {
    float: left;
    width: 200px;
    font-size: 22px;
    padding: 10px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    border-style: solid;
    border-width: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: beige;
}

.crystals {
    
    width: 150px;
    height: 150px;
    padding: 5px;
    margin: 10px 10px 10px 65px;
    border: 2px;
    border-style: solid;
    text-align: center;
    float: left;
    background-color: aliceblue;
}

#c-1 {
    clear: left;
    margin-left: 335px;
}

#wins-losses { 
    margin-right: 25px;
    padding-left: 40px;
    text-align: left;
}

#target-box {
    margin-left: 110px;
}